

p {
    letter-spacing: -0.5px;
}

.q_icon_with_title.tiny .icon_holder img {
    width: 16px;
}

.q_icon_with_title .icon_title_holder .icon_holder {
    padding: 4px 8px 0px 0;
}

.q_icon_with_title .icon_title_holder {
    margin: 0 0 5px;
}

.q_icon_with_title .icon_text_inner {
    padding: 0;
}

.q_icon_with_title.left_from_title.custom_icon_image.tiny .icon_text_holder .icon_holder {
    width: 23px!important;
}

.wpcf7 form.wpcf7-form p {
    margin-bottom: 12px;
}

.header_bottom_widget.widget_text {
    display: inline-block;
}

#ui-datepicker-div .ui-datepicker-today a,
#ui-datepicker-div .ui-datepicker-current-day:not(.ui-datepicker-today) a{
    color: #fff;
}

#ui-datepicker-div .ui-datepicker-current-day:not(.ui-datepicker-today){
    background-color: #1f1a15;
}

.specialsLink {
color: #ffffff;
}

.specialsLink:hover {
color: #777777;
}

.hamiltonLink {
color: #777777;
}

::selection {
  background: #1A1A1A; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #1A1A1A; /* Gecko Browsers */
}

#gform_1 input[type=text],
#gform_1 input[type=email],
#gform_1 textarea {
    background-color: #ffffff;
    border-color: #111111;
    border-width: 3px;
    border-style: solid;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    color: #000000;
    font-family: Work Sans;
    font-size: 15px;
    line-height: 23px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -0.5px;
    text-transform: none;
    padding-top: 14px;
    padding-right: 18px;
    padding-bottom: 14px;
    padding-left: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
   width: 100%;
}

#gform_1 input[type=submit] {
   border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    color: #ffffff;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    text-transform: none;
    padding: 0 39px;
    background-color: #713432;
    height: 57px;
    border: 0px solid #fff;
}

#gform_1 input[type=submit]:hover {
background-color: #303030;
border-color: transparent;
}

#gform_1 label,
#gform_2 label {
display: none; 
}

#gform_2 input[type=text] {
    padding-left: 15px;
    padding-right: 15px;
    display: block;
    width: 100%;
    font-family: inherit;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    border: 3px solid #818181;
    background-color: transparent;
    margin: 0;
    height: 57px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#gform_2 input[type=submit] {
    font-size: 16px;
    line-height: 57px;
    height: 57px;
    font-style: normal;
    font-weight: 600;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    letter-spacing: -0.5px;
    text-transform: none;
    border-width: 0px;
    padding-left: 45px;
    padding-right: 45px;
    border-color: #fff;
    color: #000;
    background-color: #fff;
}

#gform_2 input[type=submit]:hover {
opacity: .9;
}

.gform_wrapper .gform_footer {
margin-top: 0 !important;
padding-top: 0 !important;
}

#reservation__container {
height: 100vh;
}

.vc_custom_1510157605677 h2 {
min-height: 76px;
}

.footerLogo {
height: 50px;
margin-bottom: 20px;
}

nav.main_menu {
margin-left: 50px;
}

header.sticky nav.main_menu > ul > li > a {
 color: #1a1a1a;
}

header.sticky nav.main_menu ul li.active a {
color: #777777;
}

.sticky .q_social_icon_holder .fa-stack i {
color: #303030 !important;
}

.sticky .q_social_icon_holder .fa-stack a:hover {
color: #818181 !important;
}

/* 11/16 */

.footer_bottom a {
 color: #878787;
}

.footer_bottom a:hover {
 color: #303030;
}

.ctl-story-time {
display: none;
}
.cool-timeline-horizontal.white-timeline .clt_caru_slider ul.slick-slider .slick-list li.slick-slide .timeline-post h2 {
   text-align: center;
    line-height: 40px;
    font-family: Playfair Display !important;
    font-style: italic;
    font-weight: 400;
    text-transform: none;
    letter-spacing: 0px;
font-size: 31px !important;
}

.cool-timeline-horizontal.white-timeline .clt_caru_slider ul.slick-slider .slick-list li.slick-slide .timeline-post a {
font-size: 31px !important;
}

@media only screen and (max-width: 415px) {

h2 {
font-size: 35px;
}
.q_elements_item_inner > .q_elements_item_content {
margin-top: 20%;
}

.footer_top {
padding-top: 60px;
padding-bottom 60px;
}

.footerLogo {
display: block;
margin: 0 auto;
margin-bottom: 20px;
}

}

.qbutton.white {
border: 0px solid #fff;
}