//Slider
.home .content.has_slider .q_slider {
    .slider_content {
        @media screen and (max-width: 450px) {
            padding-top: 0;
            padding-bottom: 7rem;
        }
        @media screen and ( max-width: 1440px ) and ( min-height: 500px ) and ( max-height: 750px ) {
            padding-top: 0;
            padding-bottom: 3em;
        }
    }
    .slider_content_inner h2.q_slide_title {
        @media screen and ( max-width: 1440px ) and ( min-height: 500px ) and ( max-height: 750px ) {
            font-size: 60px !important;
            line-height: 1.1 !important;
        }
    }

    .slider_content_inner h4.q_slide_subtitle {
        font-size: 32px;
        line-height: 1;
        span {
            @media screen and ( max-width: 1440px ) and ( min-height: 500px ) and ( max-height: 750px ) {
                padding-bottom: 10px !important;
            }
        }
    }

    .slider_content_inner .q_slide_text {
        margin-top: 0;
    }

}

// Booking row
.home .vc_row.booking-row {
    @media screen and ( max-width: 325px ) {
        margin-top: -130px;
    }

    @media screen and ( min-width: 326px ) and ( max-width: 450px ) {
        margin-top: -160px;
    }
    @media screen and ( min-width: 768px ) {
        margin-top: -220px;
    }

    @media screen and (min-width: 1025px) and ( max-width: 1440px ) and ( min-height: 500px ) and ( max-height: 750px ) {
        margin-top: -170px;
    }

    @media screen and ( min-width: 600px ) and ( max-width:  767px ) {
        margin-top: -190px;
    }

    @media screen and ( min-width: 1280PX ) and ( min-height: 751px ) {
        margin-top: -155px;
    }


}